.html {
  background-color: #e34c26;
  color: black;
}

.css {
  background-color: #1572b6;
  color: white;
}

.javascript {
  background-color: #f7df1e;
  color: black;
}

.typescript {
  background-color: #007acc;
  color: white;
}

.react {
  background-color: #61dafb;
  color: black;
}

.react-native {
  background-color: #0c4a6e;
  color: white;
}

.nextjs {
  background-color: #000000;
  color: white;
}

.redux {
  background-color: #764abc;
  color: white;
}

.angular {
  background-color: #dd0031;
  color: white;
}

.vue {
  background-color: #4dba87;
  color: black;
}

.astro {
  background-color: #ff4760;
  color: black;
}

.svelte {
  background-color: #ff3e00;
  color: black;
}

.nodejs {
  background-color: #68a063;
  color: black;
}

.expressjs {
  background-color: #000000;
  color: white;
}

.mongodb {
  background-color: #3fa037;
  color: black;
}

.c-plus-plus {
  background-color: #00599c;
  color: white;
}

.c-sharp {
  background-color: #178600;
  color: white;
}

.python {
  background-color: #3776ab;
  color: white;
}

.go {
  background-color: #00add8;
  color: black;
}

.java {
  background-color: #007396;
  color: white;
}

.php {
  background-color: #777bb4;
  color: white;
}

.firebase {
  background-color: #ffca28;
  color: black;
}

.aws {
  background-color: #ff9900;
  color: black;
}

.azure {
  background-color: #005a8e;
  color: white;
}

.docker {
  background-color: #2496ed;
  color: black;
}
