<main class="post-detail" *ngIf="post">
  <h1 class="post-detail__project-title">{{post.projectTitle}}</h1>
  <img *ngIf="post.backupImage" ngSrc={{post.backupImage}} alt={{post.projectTitle}} width="465" height="383"
    class="post-detail__image" priority>
  <span class="post-detail__creator">Posted by <span
      class="post-detail__creator post-detail__creator--username">@{{post.creator}}</span> on {{post.createdAt | date:
    "EEEE, MMMM d"}}</span>
  <div class="post-detail__body">
    <div class="post-detail__info info">
      <span class="info__label">Wants to build</span>
      <span class="info__data">{{post.shortDescription}}</span>
    </div>
    <div class="post-detail__info info">
      <span class="info__label">Stack</span>
      <span class="info__data">{{post.stack}}</span>
    </div>
    <div class="post-detail__info info">
      <span class="info__label">Experience</span>
      <span class="info__data">{{post.yearsOfExperience}}</span>
    </div>
    <div class="post-detail__info info">
      <span class="info__label">Code repository</span>
      <span class="info__data" *ngIf="post.codeRepositoryLink; else noLink">
        <a href="{{ post.codeRepositoryLink }}">{{ post.codeRepositoryLink }}</a>
      </span>
      <ng-template class="info__data" #noLink>-</ng-template>
    </div>
    <p class="info__description">{{post.fullDescription}}</p>
    <div class="post-detail__technologies technologies">
      <span *ngFor="let technology of post.technologies"
        [className]="'technologies__technology' + ' ' + technology.replace(' ' && '.', '').replace('#', '-sharp').replace('++', '-plus-plus').toLowerCase()">{{technology}}</span>
    </div>
  </div>
</main>
