@use "../../../styles/partials/_variables.scss";

:host {
  width: 100%;
}

.posts {
  display: grid;
  grid-template-columns: repeat(auto-fit, 312px);
  gap: 40px;
  justify-content: center;
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 50px 0;
  gap: 50px;

  &__button {
    display: flex;
    align-items: center;
    padding: 10px 15px;
    border-radius: 8px;
    color: map-get(variables.$primary-color, "main");
    background-color: map-get(variables.$accent-color, "main");
  }
}

.no-posts {
  display: flex;
  align-items: center;
  justify-content: center;
  color: variables.$secondary-color;

  &__text {
    font-size: 1.5rem;
  }
}
