<ul *ngIf="posts.length > 0; else noPosts" class="posts">
  <li *ngFor="let post of posts$ | async"><app-post [post]="post"></app-post></li>
</ul>
<div class="pagination">
  <button *ngIf="nextPage > 1" (click)="goToPreviousPage()" class="pagination__button" aria-label="Previous page">
    <mat-icon>chevron_left</mat-icon>
  </button>
  <button *ngIf="posts.length > 0 && posts.length > 8" (click)="goToNextPage()" class="pagination__button"
    aria-label="Next page">
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
<ng-template #noPosts>
  <div class="no-posts"><span class="no-posts__text">There are currently no posts.</span></div>
</ng-template>
