<article class="post">
  <button class="delete-button" (click)="deletePost()" *ngIf="this.allowAction()"><mat-icon aria-hidden="false"
      aria-label="Delete icon" fontIcon="delete" color="primary" class="delete-button__icon"></mat-icon></button>
  <div class="gradient-overlay">
    <img src={{post.backupImage}} alt={{post.projectTitle}} width="312" height="255" class="post__image">
  </div>
  <div class="post__body">
    <span class="post__creator">@{{post.creator}}</span>
    <h2 class="post__project-title">{{post.projectTitle}}</h2>
    <div class="post__info info">
      <span class="info__label">Wants to build</span>
      <span class="info__data">{{post.shortDescription}}</span>
    </div>
    <div class="post__info info">
      <span class="info__label">Stack</span>
      <span class="info__data">{{post.stack}}</span>
    </div>
    <div class="post__info info">
      <span class="info__label">Experience</span>
      <span class="info__data">{{post.yearsOfExperience}}</span>
    </div>
    <div class="post__technologies technologies">
      <span *ngFor="let technology of post.technologies"
        [className]="'technologies__technology' + ' ' + technology.replace(' ' && '.', '').replace('#', '-sharp').replace('++', '-plus-plus').toLowerCase()">{{technology}}</span>
    </div>
  </div>
</article>
