<article class="post">
  <img src={{post.imageUrl}} alt="" class="post__image">
  <h3 class="post__title">{{post.projectTitle}}</h3>
  <div class="post__info">
    <span>Wants to build</span>
    <span>{{post.shortDescription}}</span>
  </div>
  <div class="post__info">
    <span>Stack</span>
    <span>{{post.stack}}</span>
  </div>
  <div class="post__info">
    <span>Experience</span>
    <span>{{post.yearsOfExperience}}</span>
  </div>
  <div class="post__technologies">
    {{post.technologies}}
  </div>
</article>
