<nav class="navigation">
  <ul>
    <li><a class="navigation__link" routerLink="/" routerLinkActive="navigation__link--active"
        [routerLinkActiveOptions]="{exact:
            true}" aria-label="Home">
        <span class="navigation-text">Home</span>
        <mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home" class="navigation-icon"></mat-icon></a>
    </li>
    <li *ngIf="isLogged$ | async"><a class="navigation__link" routerLink="/posts/new-post"
        routerLinkActive="navigation__link--active" [routerLinkActiveOptions]="{exact:
                true}" aria-label="New post">
        <span class="navigation-text">New post</span>
        <mat-icon aria-hidden="false" aria-label="New Post icon" fontIcon="note_add"
          class="navigation-icon"></mat-icon></a>
    </li>
  </ul>
</nav>
